/* Colors */
$clr-grey-dark: #464a4c;
$clr-grey-light: #666666;
$clr-blue-dark: #014c8c;
$clr-toronto-blue: #165788;
$clr-blue-light: #317083;
$clr-black: #292b2c;
$clr-blue-light-outline: #0095ff;

$ff-primary: Roboto !default;
$ff-secondary: Montserrat !default;