@use '../../styles/partials/variables' as *;

.map {
    width: 100%;
    height: 60vh;
    margin: 1rem 0 2rem;

    .map-container {
        width: 100%;
        height: 100%;
        // margin: 1rem 0;
    }
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem 0 3rem;

    &__one,
    &__two,
    &__three,
    &__four,
    &__bottom {
        border: 0.0625rem solid lightgrey;
        border-radius: .25rem;
        padding: 1.25rem 2rem;
    }

    &__bottom {
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }
}

.stat {
    width: 40%;

    h1 {
        color: $clr-blue-dark;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    p:not(.update) {
        font-weight: bold;
        font-size: smaller;
        text-align: center;
    }

    .update {
        font-weight: normal;
        font-size: smaller;
        color: $clr-grey-light;
        position: relative;
        left: -1rem;
        top: 1rem;
    }
}

.graph__one {
    width: 100%;
}

.insights {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $clr-blue-dark;
}