@use '../../styles/partials/variables' as *;

.header {
    background-color: $clr-toronto-blue;
    height: 5rem;
    display: flex;
    align-items: center;

    &__logo {
        width: 10rem;
        margin-left: 10rem;
    }
}

.main {
    margin: 2rem 10rem;
}

.nav {
    display: flex;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
    }
}