@use '../../styles/partials/variables' as *;

.header {
    background-color: $clr-toronto-blue;
    height: 5rem;
    display: flex;
    align-items: center;

    &__logo {
        width: 10rem;
        margin-left: 10rem;
    }
}

.main {
    margin: 2rem 10rem;
    display: flex;
    align-items: flex-start;
    gap: 4rem;

    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}